server {
    listen 80;
    listen [::]:80;
    server_name status.nodebox.cloud;
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name status.nodebox.cloud;

    ssl_certificate /etc/tlsfiles/nodebox.cloud.fullchain.pem;    
    ssl_certificate_key /etc/tlsfiles/nodebox.cloud.privkey.pem;    

    location ~ ^/(?<target_ip>[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+)$ {        
	set $backend http://$target_ip:3000/;
        proxy_pass $backend;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        proxy_connect_timeout 5s;
        proxy_send_timeout 5s;
        proxy_read_timeout 5s;

        error_page 502 404 = @handle_errors;
    }

    location / {
        if ($arg_nodeip) {
            set $backend http://$arg_nodeip:3000;
            proxy_pass $backend;
        }
    }


    location @handle_errors {
        add_header Content-Type text/html;
        return 200 '<!DOCTYPE html><html><head><title>Error</title></head><body><h1>Error: The requested service is not available.</h1></body></html>';
    }
}
